@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
:root,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #16423c;
  font-family: 'Jost', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 1px;
}